<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet" />
<mat-toolbar [color]="'primary'" class="elevation-appbar">
  <mat-tab-nav-panel #tabPanel>
    <nav mat-tab-nav-bar
       [tabPanel]="tabPanel"
       mat-stretch-tabs
       class="center"
       [backgroundColor]="'primary'"
       [color]="'accent'">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <div fxLayout="column" fxLayoutAlign="center center" class="containerNavbar">
        <!--          <mat-icon fontSet="material-icons-outlined">{{link.icon}}</mat-icon>-->
        <span>{{link.label}}</span>
      </div>
    </a>
  </nav>
  </mat-tab-nav-panel>
</mat-toolbar>

